shiny/nodered-discomfort-flows.json
[{"id":"6dc81ef2.53057","type":"tab","label":"Aqara-Discomfort Index","disabled":false,"info":""},{"id":"56be7587.47cbbc","type":"mqtt in","z":"6dc81ef2.53057","name":"MQTT with MySQL ","topic":"zigbee2mqtt/aqarathp","qos":"2","datatype":"auto","broker":"3b32493.46db1b6","x":90,"y":280,"wires":[["c9997a84.c5b4a8"]]},{"id":"dd60edcc.4fd53","type":"function","z":"6dc81ef2.53057","name":"AQARA Parsing","func":"vtopic = {};\nvtemperature = {};\nvhumidity = {};\nvpressure = {};\nvdiscomfort = {};\nvdiscomfortIndex = {};\n\nvtopic.payload = msg.topic;\nvtemperature.payload = msg.payload.temperature;\nvhumidity.payload = msg.payload.humidity;\nvpressure.payload = msg.payload.pressure;\nvdiscomfort.payload = 1.8*vtemperature.payload-0.55*(1-(vhumidity.payload/100))*(1.8*vtemperature.payload-26)+32;\n\nif (vdiscomfort.payload < 76 ){\n    vdiscomfortIndex.payload =\"low\";\n} else if (vdiscomfort.payload >=76 && vdiscomfort.payload <80){\n    vdiscomfortIndex.payload = \"mid\";\n} else if (vdiscomfort.payload >= 80){\n    vdiscomfortIndex.payload = \"high\";\n}\n\n\nvar query = \"INSERT INTO discomfortTable (topic, discomfort, discomfortindex, temperature,humidity,pressure) VALUES ('\" + vtopic.payload + \"','\" + vdiscomfortIndex.payload + \"','\" + vdiscomfort.payload + \"','\" + vtemperature.payload + \"','\" + vhumidity.payload + \"','\" + vpressure.payload + \"')\"; \n\nmsg.topic = query;\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":300,"y":380,"wires":[["7e377ba.664f284"]]},{"id":"c9997a84.c5b4a8","type":"json","z":"6dc81ef2.53057","name":"MQTT Parsing","property":"payload","action":"","pretty":false,"x":300,"y":320,"wires":[["dd60edcc.4fd53"]]},{"id":"ff164fd7.e08f5","type":"function","z":"6dc81ef2.53057","name":"Graph Parsing","func":"\nmsg1 = {};\nmsg2 = {};\nmsg3 = {};\n\n\nmsg1.payload = msg.payload.temperature;\nmsg2.payload = msg.payload.humidity;\nmsg3.payload = msg.payload.pressure;\n\nreturn [msg1,msg2,msg3];","outputs":3,"noerr":0,"initialize":"","finalize":"","x":420,"y":100,"wires":[["bcb4df78.db706"],["7eaa9fdb.b76f7"],["2f850420.965bcc"]],"outputLabels":["msg1","msg2","msg3"]},{"id":"5dd1d8d7.601c18","type":"mqtt in","z":"6dc81ef2.53057","name":"MQTT with Charts","topic":"zigbee2mqtt/aqarathp","qos":"2","datatype":"auto","broker":"3b32493.46db1b6","x":120,"y":80,"wires":[["bdc3443e.4b4148","c69f0dd6.649e5"]]},{"id":"bdc3443e.4b4148","type":"json","z":"6dc81ef2.53057","name":"Parsing for Charts","property":"payload","action":"","pretty":false,"x":320,"y":160,"wires":[["ff164fd7.e08f5","c807f0b5.cc03c"]]},{"id":"49c14354.5d9dec","type":"inject","z":"6dc81ef2.53057","name":"Report Generator","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":130,"y":440,"wires":[["492a677b.070998"]]},{"id":"492a677b.070998","type":"function","z":"6dc81ef2.53057","name":"Read from MySQL","func":"var out = \"select timestamp,temperature, humidity from discomfortTable ORDER BY id DESC LIMIT 1\";\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":210,"y":560,"wires":[["6719d51d.b0366c"]]},{"id":"59718eb3.dbe46","type":"file","z":"6dc81ef2.53057","name":"Aqara Temperature Monintoring","filename":"aqara.txt","appendNewline":true,"createDir":true,"overwriteFile":"false","x":510,"y":580,"wires":[[]]},{"id":"27e61c70.541514","type":"function","z":"6dc81ef2.53057","name":"Charts from DB","func":"msg1 = {};\nmsg2 = {};\n\nmsg1.payload = msg.payload[0].temperature;\nmsg2.payload = msg.payload[0].humidity;\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":580,"y":520,"wires":[["35257d31.b994c2"],["ee717e4b.5e30f"]],"outputLabels":["msg1","msg2"]},{"id":"b385eec.54ae81","type":"inject","z":"6dc81ef2.53057","name":"Report Generator","repeat":"10","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":230,"y":660,"wires":[["fac26bac.3dbc18"]]},{"id":"fac26bac.3dbc18","type":"function","z":"6dc81ef2.53057","name":"Read from MyS","func":"\nvar out = \"select AVG(temperature), AVG(humidity) from discomfortTable\";\nmsg.topic = out;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":340,"y":780,"wires":[["f5d4692a.682368"]]},{"id":"f1a2dfe.b1a6c2","type":"function","z":"6dc81ef2.53057","name":"Average Temperature & Humidity","func":"msg1 = {};\nmsg2 = {};\nmsg1.payload = msg.payload[0][\"AVG(temperature)\"];\nmsg2.payload = msg.payload[0][\"AVG(humidity)\"];\nmsg1.payload = msg1.payload.toFixed(2);\nmsg2.payload = msg2.payload.toFixed(2);\n\nreturn [msg1,msg2];","outputs":2,"noerr":0,"initialize":"","finalize":"","x":840,"y":720,"wires":[["53a04124.2920e"],["fef237a7.f30d58"]],"outputLabels":["msg1","msg2"]},{"id":"2f7dc9b6.1c6c46","type":"debug","z":"6dc81ef2.53057","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":650,"y":900,"wires":[]},{"id":"2f850420.965bcc","type":"ui_gauge","z":"6dc81ef2.53057","name":"","group":"d92b6e34.42bb2","order":3,"width":"6","height":"6","gtype":"gage","title":"Pressure","label":"atm","format":"{{value}}","min":"800","max":"2000","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":240,"wires":[]},{"id":"bcb4df78.db706","type":"ui_gauge","z":"6dc81ef2.53057","name":"Temperature","group":"d92b6e34.42bb2","order":1,"width":"6","height":"6","gtype":"gage","title":"Temperature","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":630,"y":60,"wires":[]},{"id":"7eaa9fdb.b76f7","type":"ui_gauge","z":"6dc81ef2.53057","name":"Humidity","group":"d92b6e34.42bb2","order":2,"width":"6","height":"6","gtype":"gage","title":"Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":640,"y":180,"wires":[]},{"id":"53a04124.2920e","type":"ui_gauge","z":"6dc81ef2.53057","name":"Average Temperature","group":"9fab055d.a70e68","order":1,"width":"8","height":"8","gtype":"compass","title":"Average Temperature","label":"C","format":"{{value}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":970,"y":660,"wires":[]},{"id":"fef237a7.f30d58","type":"ui_gauge","z":"6dc81ef2.53057","name":"Average Humidity","group":"9fab055d.a70e68","order":2,"width":"8","height":"8","gtype":"wave","title":"Average Humidity","label":"%","format":"{{value}}","min":0,"max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":980,"y":780,"wires":[]},{"id":"35257d31.b994c2","type":"ui_chart","z":"6dc81ef2.53057","name":"Temperature","group":"9c80a61b.796368","order":1,"width":"18","height":"9","label":"Temperature","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"Temperature","dot":false,"ymin":"0","ymax":"40","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":770,"y":420,"wires":[[]]},{"id":"ee717e4b.5e30f","type":"ui_chart","z":"6dc81ef2.53057","name":"","group":"9c80a61b.796368","order":2,"width":"18","height":"9","label":"Humidity","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"0","ymax":"100","removeOlder":"24","removeOlderPoints":"","removeOlderUnit":"3600","cutout":0,"useOneColor":false,"useUTC":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"outputs":1,"useDifferentColor":false,"x":800,"y":520,"wires":[[]]},{"id":"7e377ba.664f284","type":"mysql","z":"6dc81ef2.53057","mydb":"e8232f64.a1d1e","name":"MySQL","x":500,"y":380,"wires":[[]]},{"id":"6719d51d.b0366c","type":"mysql","z":"6dc81ef2.53057","mydb":"e8232f64.a1d1e","name":"MySQL","x":420,"y":460,"wires":[["59718eb3.dbe46","27e61c70.541514"]]},{"id":"f5d4692a.682368","type":"mysql","z":"6dc81ef2.53057","mydb":"e8232f64.a1d1e","name":"MySQL","x":560,"y":780,"wires":[["f1a2dfe.b1a6c2","2f7dc9b6.1c6c46"]]},{"id":"c807f0b5.cc03c","type":"debug","z":"6dc81ef2.53057","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":220,"wires":[]},{"id":"c69f0dd6.649e5","type":"debug","z":"6dc81ef2.53057","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":330,"y":40,"wires":[]},{"id":"3b32493.46db1b6","type":"mqtt-broker","name":"Home MQTT Broker","broker":"127.0.0.1","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d92b6e34.42bb2","type":"ui_group","name":"Aqara 온습도 센서-게이지","tab":"3e0fc4f1.e10a2c","order":1,"disp":true,"width":"18","collapse":false},{"id":"9fab055d.a70e68","type":"ui_group","name":"Aqara 온습도 센서- 평균온습도","tab":"3e0fc4f1.e10a2c","order":2,"disp":true,"width":"16","collapse":true},{"id":"9c80a61b.796368","type":"ui_group","name":"Aqara 온습도 센서 - 라인차트","tab":"3e0fc4f1.e10a2c","order":3,"disp":true,"width":"18","collapse":false},{"id":"e8232f64.a1d1e","type":"MySQLdatabase","name":"","host":"142.93.75.207","port":"3306","db":"iot","tz":"","charset":""},{"id":"3e0fc4f1.e10a2c","type":"ui_tab","name":"Aqara Database","icon":"dashboard","disabled":false,"hidden":false}]